<template>
    <div>
        <div>
            <h1>Filemanager</h1>
            <div class="table">
                <div v-for="item in filesList.d">
                    <img src="../assets/folder-icon.png" class="icon"> {{ item }} <img src="../assets/delete-icon.png" class="icon active" @click="deleteFileOrFolder(item)" alt="Delete" title="Delete">
                </div>
                <div v-for="item in filesList.f">
                    <img src="../assets/file-icon.png" class="icon"> {{ item }} <img src="../assets/download-icon.png" class="icon active" @click="downloadFile(item)" alt="Download" title="Download"> <img src="../assets/delete-icon.png" class="icon active" @click="deleteFileOrFolder(item)" alt="Delete" title="Delete">
                </div>
            </div>
        </div>
        <input type="text" placeholder="New directory name" v-model="dirname"/><br/><button @click="createDir">Create directory</button>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        data () {
            return {
                path: 'http://localhost:5000/api/',
                filesList: '',
                dirname: ''
            }
        },
        methods: {
            getFilesList() {
                axios.get(this.path + 'list')
                    .then(response => {
                        this.filesList = response.data.files_list
                    })
                    .catch(error => {
                        console.log(error)
                    })
            },
            deleteFileOrFolder(name) {
                if (confirm("Are you sure you want to delete " + name + " ?")) {
                    axios.get(this.path + 'del?name=' + name)
                        .then(response => {
                            this.filesList = response.data.files_list;
                        })
                        .catch(error => {
                            console.log(error)
                        })
                }
            },
            downloadFile(name) {
                axios({
                    url: this.path + 'download?name=' + name,
                    method: 'GET',
                    responseType: 'blob',
                }).then(response => {
                    const url = window.URL.createObjectURL(new Blob([response.data]));
                    const link = document.createElement('a');
                    link.href = url;
                    link.setAttribute('download', name);
                    document.body.appendChild(link);
                    link.click();
                })
                    .catch(error => {
                        console.log(error)
                    })
            },
            createDir() {
                axios.get(this.path + 'new?name=' + this.dirname)
                    .then(response => {
                        this.filesList = response.data.files_list;
                        this.dirname = '';
                    })
                    .catch(error => {
                        console.log(error)
                    })
            }
        },
        created () {
            this.getFilesList()
        }
    }
</script>