<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.icon {
  width: 16px;
  height: 16px;
}
.active {
  cursor: pointer;
}
.table {
  text-align: left;
  margin: 0 auto;
  display: inline-block;
  border: 1px gray solid;
}

.table div {
  padding: 5px;
}

.table div:nth-child(2n) {
  background: #d5d5d5;
}
</style>
